<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<title>地址列表</title>
</head>
<body>
	<div class="addressList">
		<div class="rows" id="listData">
			<div class="rows_col selectAddress" >
				<div class="col_top">
					<span>小姐姐</span>
					<span>1333503501</span>
				</div>
				<div class="col_docs">广东省  广州市  天河区 天河路490号壬丰大厦东座3019</div>
				<div class="col_base">
					<div class="base_default">
						<!-- 默认地址active类 -->
						<div class="base_default_select active" id="setDefault"></div>
						<div class="base_default_set">设置为默认</div>
					</div>
					<div class="base_right">
						<img src="../image/icon/s.png" class="base_right_icon" />
						<span>删除</span>
					</div>
					<div class="base_right">
						<img src="../image/icon/bs.png" class="base_right_icon" />
						<span>编辑</span>
					</div>
				</div>
			</div>
			<div class="rows_col selectAddress" >
				<div class="col_top">
					<span>小姐姐</span>
					<span>1333503501</span>
				</div>
				<div class="col_docs">广东省  广州市  天河区 天河路490号壬丰大厦东座3019</div>
				<div class="col_base">
					<div class="base_default">
						<div class="base_default_select" id="setDefault"></div>
						<div class="base_default_set">设置为默认</div>
					</div>
					<div class="base_right">
						<img src="../image/icon/s.png" class="base_right_icon" />
						<span>删除</span>
					</div>
					<div class="base_right">
						<img src="../image/icon/bs.png" class="base_right_icon" />
						<span>编辑</span>
					</div>
				</div>
			</div>
		</div>
		<a href="../view/addAddress.html" class="addAddress">添加新地址</a>
	</div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/addressList.js"></script>
</html>