<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <title>首页</title>
</head>
<body>
    <!-- head -->
	<div class="food_head">
        <div class="head_item">
            <a href="home.html" class="item_span active">首页</a>
            <a href="list.html" class="item_span">全部</a>
            <a href="listNew.html"class="item_span">上新</a>
        </div>
        <div class="head_item">
            <img src="../image/icon/ss.png" class="item_icon" />
            <a href="search.html" class="item_seek">请输入搜索内容</a>
        </div>
    </div>
    <!-- 内容 -->
    <div class="home_content">
        <!-- 幻灯片 -->
        <div class="swiper_content" id="swiper_content">
            <div class="swiper_wrapper">
                <a href="list.html" class="swiper_slider"><img src="../image/tem/g.png" class="swiper_img"/></a>
                <a href="details.html" class="swiper_slider"><img src="../image/tem/g.png" class="swiper_img"/></a>
                <a href="details.html" class="swiper_slider"><img src="../image/tem/g.png" class="swiper_img"/></a>
                <a href="details.html" class="swiper_slider"><img src="../image/tem/g.png" class="swiper_img"/></a>
            </div>
            <!-- 分页 -->
            <div class="swiper-pagination" id="swiper-pagination"></div>
        </div>
        <!-- 店铺动态 -->
        <div class="store_state">
            <div class="store_top">
                <img src="../image/icon/dt.png" class="store_icon" />
                <label>店铺动态</label>
            </div>
            <div class="swiper_content store_state——h" id="swiper_state">
                <div class="swiper_wrapper store_state——w">
                    <a href="details.html" class="store_food">
                        <div class="food_left">
                            <div class="food_new">上新</div>
                            <div class="food_info">
                                <div class="food_name">御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶</div>
                                <div class="food_price">
                                    <label class="price">¥384.40</label>
                                    <time class="times">03月09日</time>
                                </div>
                            </div>
                        </div>
                        <div class="food_rigth">
                            <img src="../image/tem/xp.png" class="right_img">
                        </div>
                    </a>
                    <a href="details.html" class="store_food">
                        <div class="food_left">
                            <div class="food_new">上新</div>
                            <div class="food_info">
                                <div class="food_name">御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶御壶</div>
                                <div class="food_price">
                                    <label class="price">¥384.4000</label>
                                    <time class="times">03月09日</time>
                                </div>
                            </div>
                        </div>
                        <div class="food_rigth">
                            <img src="../image/tem/xp.png" class="right_img">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 热销商品 -->
        <div class="food_hot">
            <div class="hot_head">
                <label class="hot_label"></label>
                <label class="hot_title">热销商品</label>
                <label class="hot_label"></label>
            </div>
            <div class="food_list">
                <a href="details.html" class="item">
                    <img src="../image/tem/g.png" class="item_img" />
                    <div class="item_info">
                        <div class="item_name">紫泥秦权紫砂壶</div>
                        <div class="item_bt">
                            <span class="bt_left">¥<label class="bt_left——size">15800</label></span>
                            <span class="bt_right">销量 46</span>
                        </div>
                    </div> 
                </a>
                <a href="details.html" class="item">
                    <img src="../image/tem/g.png" class="item_img" />
                    <div class="item_info">
                        <div class="item_name">紫泥秦权紫砂壶</div>
                        <div class="item_bt">
                            <span class="bt_left">¥<label class="bt_left——size">15800</label></span>
                            <span class="bt_right">销量 46</span>
                        </div>
                    </div> 
                </a>
                <a href="details.html" class="item">
                    <img src="../image/tem/g.png" class="item_img" />
                    <div class="item_info">
                        <div class="item_name">紫泥秦权紫砂壶</div>
                        <div class="item_bt">
                            <span class="bt_left">¥<label class="bt_left——size">15800</label></span>
                            <span class="bt_right">销量 46</span>
                        </div>
                    </div> 
                </a>               
            </div>
        </div>
        <!-- 公共底部导航 -->
        <div class="forder_nav">
            <a href="home.html" class="nav_item">
                <img src="../image/icon/hsy.png" class="item_img" />
                <span class="item_name active">首页</span>
            </a>
            <a href="cart.html" class="nav_item">
                <img src="../image/icon/hgwcs.png" class="item_img" />
                <span class="item_name">购物车</span>
            </a>
            <a href="userCenter.html" class="nav_item">
                <img src="../image/icon/gr.png" class="item_img" />
                <span class="item_name">个人</span>
            </a>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
<script>
    var swiper = new Swiper("swiper_content",{
        autoplay:true,      //自动循环
        loop:true,          //闭环
        speed:1000,         //速度
        direction:"horizontal", //方向
    
        // 如果需要分页器
        pagination: {
            el: 'swiper-pagination',
        },
    });
    var State = new Swiper("swiper_state",{
        autoplay:{
            delay: 1000,//1秒切换一次
        },
        loop:true,
        speed:1000,
        direction:"vertical",
    });
</script>
</html>