<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<title>订单详情</title>
</head>
<body>
	<div class="orderDetail">
		<div class="list">
			<div class="item">
				<div class="detail_box">
					<label class="detail_left">订单备注:</label>
					<span class="detail_right" id="remark">无</span>
				</div>
				<div class="detail_box">
					<label class="detail_left">订单编号:</label>
					<span class="detail_right" id="number">8104116655221008621</span>
				</div>
				<div class="detail_box">
					<label class="detail_left">下单时间:</label>
					<span class="detail_right" id="time">2018-12-20 10:33:41</span>
				</div>
				<div class="detail_box">
					<label class="detail_left">交易状态:</label>
					<span class="detail_right" id="state">交易成功</span>
				</div>
			</div>
			<div class="item">
				<div class="title">物流信息</div>
				<div class="detail_box">
					<label class="detail_left">配送公司:</label>
					<span class="detail_right" id="username">中通快递</span>
				</div>
				<div class="detail_box">
					<div class="detail_code">
						<span class="code_box"><label class="detail_left">快递单号:</label><input type="text" value="12312312312" readonly="readonly" class="detail_right" id="code" ></input></span>
						<span class="detail_copy" onclick="copyCode()">复制</span>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="title">收货信息</div>
				<div class="detail_box">
					<label class="detail_left">收货人:</label>
					<span class="detail_right" id="username">小姐姐</span>
				</div>
				<div class="detail_box">
					<label class="detail_left">联系方式:</label>
					<span class="detail_right" id="phone">12312312312</span>
				</div>
				<div class="detail_box">
					<label class="detail_left">收货地址:</label>
					<span class="detail_right" id="address">广东省广州市天河区天河路壬丰大厦3019</span>
				</div>
			</div>
			<div class="item">
				<div class="title">商品信息</div>	
				<div class="goods">
					<img src="../image/tem/tpxq.png" class="goods_img" id="goods_img">
					<div class="goods_info">
						<div class="name" id="goods_name">紫泥秦权紫砂壶,周春燕作品,260cc左右</div>
						<div class="docs" id="goods_docs">礼盒装</div>
						<div class="total">
							<span><label id="goods_sum">￥15800.00</label><label>x1</label></span>
							<span class="total_b" id="toPay">去支付</span>
						</div>
					</div>
				</div>		
			</div>
			<div class="item">
				<div class="title">支付信息</div>
				<div class="detail_box item_pay">
					<span>商品总额</span>
					<span>￥<label id="goods_total">15800.00</label></span>
				</div>	
				<div class="detail_box item_pay">
					<span>运费(快递)</span>
					<span>￥<label id="freight">00.00</label></span>
				</div>	
				<div class="detail_box item_pay">
					<span class="pay——w">实付款</span>
					<span class="pay——w pay——red">￥<label id="pay_total">15800.00</label></span>
				</div>			
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/orderDetail.js"></script>
</html>